<div class="account-signup-success">
	
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Успешно!</h1>
				<p class="lead">Вы успешно прошли регистрацию на нашем сайте! Перейдите на страницу <a href="/login">авторизации</a>.</p>
			</div>
		</div>
	</div>

</div>